body{
    margin: 0;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

/*----------------------------------*/

#menu-btn{
    color: #404040;
    background-color: transparent;
    position: fixed;
    top: 50%;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 3vh;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 5;
}

nav{
    width: 250px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    padding-top: 0px;
    overflow: auto;
}

#menu-ul li{
    list-style-type: none;
    margin: 0;
    font-size: 2vh;
}

a{
    text-decoration: none;
    color: black;
}

#menu-ul li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 1vh;
}

#menu-ul{
    background-color: #e5e5e5;
    display: block;
    margin: 0;
    padding: 0 15px;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    border-right: 1px solid black;
}

#menu-ul li a:hover{
    background-color: #d0d0d0;
}

/*----------------------------------*/
  
main{
    width: 100vw;
    padding: 20px 50px 20px 300px;
    overflow: auto;
}

article {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 300px;
}

h1, h2 {
    text-align: center;
}

h3 {
    margin-top: 70px;
    font-size: 3vh;
}

h3::before {
    width: 1px;
    height: 3vh;
    content: "> ";
    text-align: left;
}

p {
    text-align: justify;
    font-size: 2vh;
}

pre {
    background-color: #f5f8e2;
    color: #505050;
    border: 1px solid #909090;
    border-radius: 5px;
    overflow: hidden;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}

table{
    border-collapse: collapse;
    margin: 30px 0;
}

@media only screen and (max-width: 640px) {
    nav{
        width: 100%;
    }
    #menu-ul{
        border-right: none;
        min-height: 100vh;
    }
    body{
        display: inherit;
    }
}

.hcores {
    text-align: left;
    margin: 20px 0;
}

.hcores::before {
    content: none;
}